@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url("./fonts/Nunito-Sans/NunitoSans-Regular.woff");
}

@font-face {
  font-family: "Nunito";
  font-weight: 500;
  src: url("./fonts/Nunito-Sans/NunitoSans-SemiBold.woff");
}

@font-face {
  font-family: "Nunito";
  font-weight: 600;
  src: url("./fonts/Nunito-Sans/NunitoSans-Bold.woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("./fonts/Gilroy/Gilroy-Bold.woff");
}

@layer base {
  html {
    font-family: "Nunito", system-ui, sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Gilroy", system-ui, sans-serif;
  }
}
